#!/bin/bash
# export AWS_SECRET_ACCESS_KEY=
# export AWS_ACCESS_KEY_ID=
# export AWS_DEFAULT_REGION=
# export NOTIFICATION_TOPIC_ARN
# export DNS_DOMAIN_NAME=
# export DB_PASSWORD=
# export KEY_NAME=
# export DB_ALLOCATED_STORAGE=
# export DOCKER_IMAGE=
# export SSH_LOCATION=
# export SSL_CERTIFICATE_ID=
